API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AUTH_DOMAIN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PROJECT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
STORAGE_BUCKET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MESSAGING_SENDER=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APP_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MEASUREMENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DATABASE_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
